body {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  font-family: "Euclid Circular B", "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: #fff;
  background-color: #1a1a1a;
}
body,
div {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

section {
  height: 50vh;
}

/* ============ Full Page Slider ================= */
.swiper-slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  padding: 80px 0;
}
.slide-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  inset: -200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slide-bg:before {
  opacity: 0.8;
  background: #1d1d1d;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.swiper-slide .slide-bg .slide-container {
  max-width: 1320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 7;
  padding-left: 15px;
  padding-right: 15px;
}
.slide-bg .slide-container .slide-row {
  display: flex;
  flex-wrap: wrap;
}
.slide-container .slide-row .slider-content {
  flex: 0 0 auto;
  padding-left: 300px;
  padding-right: 300px;
  scale: 1.3;
}

.slider-content p {
  font-size: 24px;
  opacity: 0.65;
  line-height: 1.6;
  max-width: 760px;
}

.slider-content h3 {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  opacity: 0.5;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 30px;
  margin-top: 0px;
}
.slider-content h2 {
  font-size: 50px;
  color: #fff;
  margin: 0px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 0.2rem;
}

.swiper-pagination {
  scale: 2.5;
  bottom: 60px !important;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
}

.swiper-pagination-bullet {
  background: #f9f9f9 !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #f9f9f9 !important;
}

nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 44px;
  padding: 32px 44px;
  background: rgb(0 0 0 / 2%);
  backdrop-filter: blur(20px);
}

nav img {
  height: 44px;
}

nav .search {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgb(255 255 255 / 6%);
  border-radius: 100px;
  padding: 6px 12px;
}

nav .search input {
  background: transparent;
  border: 0;
  outline: 0;
  color: rgb(255 255 255 / 55%);
  padding-left: 60px;
  font-family: inherit;
  font-size: 34px;
  height: 74px;
  width: 100%;
}

nav .search i {
  font-size: 32px;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}

nav .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
}

nav .buttons button {
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
}

nav .buttons button i {
  font-size: 40px;
}